.org-chart-width {
    overflow-y: auto;
}

.spec-ul-width {
    min-width: 1200px;
}

.org-chart ul {
    padding-top: 13px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.org-chart li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

    .org-chart li::before,
    .org-chart li::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: 4px solid #d9121b;
        width: 50%;
        height: 20px;
    }

    .org-chart li::after {
        right: auto;
        left: 50%;
        border-left: 4px solid #d9121b;
    }

    .org-chart li:only-child::after,
    .org-chart li:only-child::before {
        display: none;
    }

    .org-chart li:only-child {
        padding-top: 0;
    }

    .org-chart li:first-child::before,
    .org-chart li:last-child::after {
        border: 0 none;
    }

    .org-chart li:last-child::before {
        border-right: 4px solid #d9121b;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
    }

    .org-chart li:first-child::after {
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
    }

.org-chart ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 49.8%;
    border-left: 4px solid #d9121b;
    width: 0;
    height: 14px;
}

.org-chart li a {
    /* border: 1px solid #d9121b; */
    /* padding: 5px 0px; */
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}



    /* .org-chart li a:hover,
.org-chart li a:hover+ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
} */

    .org-chart li a:hover + ul li::after,
    .org-chart li a:hover + ul li::before,
    .org-chart li a:hover + ul::before,
    .org-chart li a:hover + ul ul::before {
        border-color: #808080;
    }

hr {
    height: 213px;
    width: 4px;
    border-width: 0;
    background-color: #d9121b;
}

.org-chart-span {
    border-top: 4px solid #d9121b;
    width: 10px;
}

.org-chart-img {
    width: 88.4px;
    height: 100px;
    border-radius: 10px;
    min-height: 100px;
}

.org-chart-border {
    border: 1px solid #d9121b;
    border-radius: 10px;
    background-color: white;
    height: 185px !important
}

    .org-chart-border > h2 {
        padding-left: 3px;
        padding-right: 3px;
        font-size: 10px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }



.mobil-actv {
    display: none;
}

.desktop-actv {
    display: block;
}

@media only screen and ( max-width: 768px ) {

    .mobil-actv {
        display: block;
    }

    .desktop-actv {
        display: none;
    }
}




.spec-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.spec-modal-content {
    background-color: #d9121b;
    margin: auto;
    /*padding: 20px;*/
    border: 1px solid #888;
    width: 50%;
    margin-bottom: 20px;
}

/* The Close Button */
.spec-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .spec-close:hover,
    .spec-close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.popup-img {
    /*width: 350px;*/
    width: auto;
    height: 350px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .popup-img {
        width: 180px;
        height: 210px;
        object-fit: contain;
    }

    .spec-modal-content {
        width: 90%;
    }

    .spec-modal {
        padding-top: 35%;
    }
}

@media only screen and (min-width: 768px) {
}

.org-chart-border {
    width: 90px !important;
}

}

.spec-one-box {
    margin-top: 198px;
}

    .spec-one-box::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0px;
        z-index: -1;
        left: 52%;
        width: 5px;
        background-color: #d9121b;
        transform: translateX(-50%);
    }
